@font-face {
  font-family: font1;
  src: url("../rocgrotesk-condensedbold-aa64a1f0.ttf");
}
@font-face {
  font-family: font2;
  src: url("../public/timesnow-semilight-7d950ea8.ttf");
}
@font-face {
  font-family: font3;
  src: url("../public/Fontspring-DEMO-rocgroteskcond-extrabold.otf");
}

.f1{
  font-family: font1;
}
.f2{
  font-family: font2;
}
.f3{
  font-family: font3;
}


.box1::before{
  position: absolute;
  content: "";
  width: 102%;
  left: 1px;
  height: 50%;
  background-color: #fff;
  bottom: -24px;
  z-index: 100;
  border-top: 1px solid black;
  transform: rotate(-6deg);
}

.box2::before{
  position: absolute;
  content: "";
  width: 101%;
  left: -6px;
  height: 50%;
  background-color: #fff;
  bottom: -50px;
  z-index: 100;
  border-top: 1px solid black;
  transform: rotate(8deg);
}