@font-face {
  font-family: font1;
  src: url("../rocgrotesk-condensedbold-aa64a1f0.ttf");
}
@font-face {
  font-family: font2;
  src: url("../public/timesnow-semilight-7d950ea8.ttf");
}
@font-face {
  font-family: font3;
  src: url("../public/Fontspring-DEMO-rocgroteskcond-extrabold.otf");
}

.f1{
  font-family: font1;
}
.f2{
  font-family: font2;
}
.f3{
  font-family: font3;
}


.box1::before{
  position: absolute;
  content: "";
  width: 102%;
  left: 1px;
  height: 50%;
  background-color: #fff;
  bottom: -24px;
  z-index: 100;
  border-top: 1px solid black;
  transform: rotate(-6deg);
}

.box2::before{
  position: absolute;
  content: "";
  width: 101%;
  left: -8px;
  height: 50%;
  background-color: #fff;
  bottom: -50px;
  z-index: 100;
  border-top: 1px solid black;
  transform: rotate(9deg);
}
.box21::before{
  position: absolute;
  content: "";
  width: 105%;
  left: -8px;
  height: 50%;
  background-color: red;
  bottom: -50px;
  z-index: 100;
  border-top: 1px solid black;
  transform: rotate(9deg);
}
.box3::before{
  position: absolute;
  content: "";
  width: 102%;
  left: -px;
  height: 80%;
  background-color: #ffffff;
  top: -140px;
  z-index: 110;
  border-bottom: 1px solid black;
  transform: rotate(5deg);
}

.box4::before{
  position: absolute;
  content: "";
  width: 102%;
  left: -18px;

  height: 85%;
  background-color: #ffff;
  top: -174px;
  z-index: 210;
  /* border-bottom: 1px solid black; */
  transform: rotate(-9deg);
}


@media screen and (min-width: 370px) {

  .box4::before{
    position: absolute;
    content: "";
    width: 102%;
    left: -px;
    height: 85%;
    background-color: #ffff;
    top: -200px;
    z-index: 110;
    /* border-bottom: 1px solid black; */
    transform: rotate(-6deg);
  }

}

@media screen and (min-width: 380px) {
  
  .box2::before{
    position: absolute;
    content: "";
    width: 105%;
    left: -14px;
    height: 54%;
    background-color: #fff;
    bottom: -60px;
    z-index: 100;
    border-top: 1px solid black;
    transform: rotate(11deg);
  }

  .box4::before{
    position: absolute;
    content: "";
    width: 102%;
    left: -22px;
    height: 85%;
    background-color: #ffff;
    top: -194px;
    z-index: 210;
    /* border-bottom: 1px solid black; */
    transform: rotate(-9deg);
  }

}

@media screen and (min-width: 412px) {


  .box4::before{
    position: absolute;
    content: "";
    width: 102%;
    left: -22px;
    height: 85%;
    background-color: #ffff;
    top: -214px;
    z-index: 210;
    /* border-bottom: 1px solid black; */
    transform: rotate(-9deg);
  }

}

@media screen and (min-width: 430px) {


  .box4::before{
    position: absolute;
    content: "";
    width: 102%;
    left: -22px;
    height: 85%;
    background-color: #ffff;
    top: -219px;
    z-index: 210;
    /* border-bottom: 1px solid black; */
    transform: rotate(-9deg);
  }

}
@media screen and (min-width: 768px) {


  .box2::before{
    position: absolute;
    content: "";
    width: 155%;
    left: -36px;
    height: 60%;
    background-color: #fff;
    bottom: -80px;
    z-index: 100;
    border-top: 1px solid black;
    transform: rotate(13deg);
  }


  .box3::before{
    position: absolute;
    content: "";
    width: 102%;
    left: -px;
    height: 30%;
    background-color: #ffffff;
    top: -50px;
    z-index: 110;
    border-bottom: 1px solid black;
    transform: rotate(5deg);
  }
  
}

